@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.product {
    font-family: "Roboto Condensed", sans-serif;
}

.two {
    font-family: "Roboto", sans-serif;
}
.active {
    background-color: transparent;
    padding:3px;
    border: 1px solid #8DB600;
    border-radius: 50%;
    width: 20px;
}
.dot {
    width: 18px;

}