@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
.angle { 
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}
 .electric {
    font-family: "Roboto Condensed", sans-serif;
}
.free {
    font-family: "Roboto", sans-serif;
} 
/* .pattern {
    width: 50px;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
} */