@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .medium-clip-path {
    clip-path:polygon(0 0, 100% 0, 58% 100%, 0 100%) ;
  }

  .mobile-clip-path{
    clip-path:polygon(0 0, 100% 0, 54% 100%, 0 100%) 
  }
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

}