.hero:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: white;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
    
}
.behind-hero:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: white;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
    
}
.current {
    content: url(@/assets/Group.svg);
}
.non-current {
    content: url(@/assets/Ellipse.svg);
}
